<body class="signup-page">
<div class="wrapper">
		<div class="header header-filter" style="background-image: url('https://endurapack.com/wp-content/uploads/shopping-bags2-ss-1920.jpg'); background-size: cover; background-position: top center;">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
						<div class="card card-signup">
							<form class="form" method="post" action="/user/login">
								<div class="header header-primary text-center">
									<h4>{{title}}</h4>
									<div class="social-line">
									</div>
								</div>
								{{# if hasErrors}}
									<div class="alert alert-danger">
									{{# each messages}}
						             <div class="container-fluid">
										 <div class="alert-icon">
											<i class="material-icons">error_outline</i>
										</div>
										<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true"><i class="material-icons">clear</i></span>
										</button>
						                 <b>Error Alert:</b> {{this}}
						            </div>
						            {{/each}}
						        </div>
						        {{/if}}
								<!-- <p class="text-divider">Or Be Classical</p> -->
								<div class="content">
									<div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">face</i>
										</span>
										<input type="text" name="username" id="username" class="form-control" placeholder="Username...">
									</div>

									<div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">lock_outline</i>
										</span>
										<input type="password" name="password" id="password" placeholder="Password..." class="form-control" />
									</div>

									
								</div>
								<div class="footer text-center">
									<input type="hidden" name="_csrf" value="{{csrfToken}}">
        							<button type="submit" class="btn btn-primary">Login!</button>
        							<p>Don't have an account?<a href="/user/register" class="btn btn-simple btn-sm btn-primary">Register here!</a></p>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
   </body>
